
.Calculator .displayView{
  width: 290px;
  height: 40px;
  border: 1px solid #ccc;
  margin-left: 15px;
  margin-top: 15px;
}
.Calculator .row{
  width: 400px;
  margin-left: 10px!important;
}
.leftSide{
  width: 45%;
  float: left;
}

.rightSide{
  width: 40%;
  float: left;
}

Button{
  width: 50px;
  margin: 5px;
}

.displayView h4{
  margin-left: 5px;
}
